In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('dataset1.csv',encoding='latin-1',sep=';')

In [46]:
df

     Year                Area  Numer Poblacion  otro
0    2015             Usaquén     13    111016  11,7
1    2015           Chapinero      3     25770  11,6
2    2015            Santa Fe      7     26134  26,8
3    2015       San Cristóbal     22    112033  19,6
4    2015                Usme     18    115042  15,6
..    ...                 ...    ...       ...   ...
193  2023  Rafael Uribe Uribe     13     94117  13,8
194  2023      Ciudad Bolívar     24    185656  12,9
195  2023             Sumapaz      0      1166   0,0
196  2023            Sin dato      3         0   NaN
197  2023            Distrito    240   1740203  13,8

[198 rows x 5 columns]